/* font style  */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

/* common part  */
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
/* header start  */
header {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  z-index: 0;
}
header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #16151b1c;
  z-index: -1;
}
.navbar-light .navbar-nav .nav-link {
  color: #fffefe;
  padding: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fffefe;
}
.menu-underline {
  position: relative;
}
.menu-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #008ed6;
  transition: 0.4s all ease-in-out;
}
.menu-underline:hover::after {
  width: 48%;
}
.menu-underline::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #008ed6;
  transition: 0.4s all ease-in-out;
}
.menu-underline:hover::before {
  width: 48%;
}
/* banner part  */
.row-height {
  height: 80vh;
}
.banner h6 {
  color: #008ed6;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
}
.banner h1 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 600;
}
.banner p {
  color: #999999;
  margin-bottom: 50px;
}
.download-btn {
  background-color: #008ed6;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 30px;
}
.feature-btn {
  background-color: transparent;
  border: 1px solid #4d4e53;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 30px;
  transition: 0.4s all ease-in-out;
}
.download-btn:hover {
  color: #fff;
}
.feature-btn:hover {
  background-color: #008ed6;
  color: #fff;
}
.header-phone {
  position: absolute;
  right: 300px;
  bottom: 0;
}
/* product overview  */
.product-overview {
  padding-top: 70px;
}
.product-overview h6,
.device-details h6,
.customize-details h6,
.testimonial h6,
.pricing h6,
.contact h6 {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #008ed6;
  font-weight: 600;
  font-size: 16px;
}
.product-overview h2,
.device-details h2,
.customize-details h2,
.pricing h2,
.contact h2 {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 25px;
}
.title-underline {
  position: relative;
  height: 3px;
  width: 100px;
  display: block;
}
.title-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  background-color: #008ed6;
  transition: 0.4s all ease-in-out;
}
.product-overview:hover .title-underline::after,
.device-details:hover .title-underline::after,
.customize-details:hover .title-underline::after,
.testimonial:hover .title-underline::after,
.pricing:hover .title-underline::after,
.contact:hover .title-underline::after {
  width: 48%;
}
.title-underline::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  background-color: #008ed6;
  transition: 0.4s all ease-in-out;
}
.product-overview:hover .title-underline::before,
.device-details:hover .title-underline::before,
.customize-details:hover .title-underline::before,
.testimonial:hover .title-underline::before,
.pricing:hover .title-underline::before,
.contact:hover .title-underline::before {
  width: 48%;
}
.feature-icon-circle {
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
}
.feature-icon-circle i {
  color: #008ed6;
  font-size: 25px;
}
.product-overview h3 {
  color: #1a1a1a;
  margin: 20px 0 10px 0;
}
.product-overview p {
  color: #999;
}
.devider {
  display: block;
  background-color: #ededed;
  height: 1px;
  width: 100%;
}
/* device details  */
.device-details {
  padding: 60px 0;
}
.device-details p,
.customize-details p {
  color: #999;
  margin-top: 20px;
}
.device-details ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}
.device-details ul li {
  margin-top: 10px;
}
.device-details ul li i {
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #008ed6;
  margin-right: 3px;
}
.device-details ul li span {
  color: #1a1a1a;
}
/* customize details start  */
.customize-details {
  background-color: #f2f2f2;
}
/* testimonial start  */
.testimonial {
  background-image: url("../images/testimonial-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 520px;
}
.testimonial h2 {
  color: #fff;
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 25px;
}
.client-img {
  margin-right: 20px;
}
.client-details p {
  margin-bottom: 5px;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.client-details h5 {
  color: #fff;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}
.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-dots .owl-dot span {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1px solid #999;
  margin-right: 10px;
  margin-top: 120px;
  transition: 0.4s all ease-in-out;
}
.owl-dots .active span {
  height: 15px;
  width: 15px;
  background: #fff;
}
/* theme section start  */
.theme {
  background: #15141a;
}
.theme h4 {
  color: #fff;
  font-weight: 300;
}
.theme h4 span {
  font-weight: 600;
}
/* pricing start  */
.pricing h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  margin: 0;
  padding: 12px 0;
  color: #1a1a1a;
  transition: 0.4s all ease-in-out;
}
.pricing sub {
  font-size: 65px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.4s all ease-in-out;
}
.pricing .card-body span {
  font-size: 32px;
  font-weight: 600;
}
.pricing p span {
  color: #008ed6;
}
.pricing .card-body p {
  color: #999;
  font-size: 18px;
  margin: 0;
  margin-top: 12px;
  transition: 0.4s all ease-in-out;
}
.pricing .card-footer p {
  color: #999;
  font-size: 18px;
  margin: 0;
  margin-top: 45px;
}
.pricing a {
  background: none;
  color: #008ed6;
  border-color: #e0e0e0;
  padding: 15px 35px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  transition: 0.4s all ease-in-out;
}
.card-body {
  transition: 0.4s all ease-in-out;
}
.card:hover .card-body,
.card:hover a {
  background-color: #008ed6;
  border-color: #008ed6;
  color: #fff;
}
.card:hover .card-body sub,
.card:hover .card-body p {
  color: #fff;
}
.card:hover h3 {
  color: #008ed6;
}
/* contact start  */
.contact {
  background: #ededed;
}

/* footer start  */
footer {
  background: #15141a;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
footer ul li {
  margin-right: 30px;
}
footer ul li:last-child {
  margin-right: 0px;
}
footer ul li a {
  color: #444348;
  font-size: 18px;
}
footer ul li a:hover {
  color: #008ed6;
}
footer p {
  color: #444348;
  margin: 0;
  text-transform: uppercase;
}
